@use '../custom' as *;

.custom-bg  {
  background-color: $primary;
  font-family: Berkshire, serif;
  li  {
    padding: 0 2rem 0 2rem;
    a  {
      color: $red;
      font-weight: 400;
      font-size: 1.2rem;
      &:hover  {
        // Fix this too
        box-shadow: 5px 5px 5px $red;
        border-radius: 10px;
      }
    }
  }
}
//Nav Image
.nav-logo  {
  height: 7rem;
  width: 8rem;
  z-index: 2;
  margin: 0.5rem 10rem 0.5rem 10rem;;
}
// daggers image
.nav-link {
  position: relative;   /* create stacking context */
  display: inline-block;
}

.nav-link .link-text {
  position: relative;
  z-index: 2;           /* text sits above dagger */
}

.nav-link img.dagger {
  position: absolute;   /* absolutely positioned within <a> */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4.5em;         /* adjust size */
  height: auto;
  z-index: 1;           /* behind text */
  opacity: 0;
  pointer-events: none; /* don’t block clicks */
  transition: opacity 0.25s ease;
}