@use '../custom' as *;

.custom-bg  {
  background-color: $primary;
  font-family: Berkshire, serif;
  li  {
    padding: 0 2rem 0 2rem;
    a  {
      color: $red;
      font-weight: 400;
      font-size: 1.2rem;
    }
  }
}
//Nav Image
.nav-logo  {
  height: 7rem;
  width: 8rem;
  z-index: 2;
  margin: 0.5rem 10rem 0.5rem 10rem;;
}