@use '../../custom' as *;

//container
.hero-contain  {
  border-bottom: 1px solid $black;
}
.hof-text1  {
  h3  {
    margin: 3rem 0 0.7rem 0;
    font-family: IM Fell English SC, serif;
    font-weight: 600;
    font-size: 2.2rem;
    text-decoration: underline;
  }
  h4  {
    margin: 3rem 0 0.7rem 0;
    font-family: IM Fell English SC, serif;
  }
  p  {
    font-size: 0.9rem;
  }
}