@use '../custom' as *;
//Section
#about-us  {
  border-top: 0.05rem solid $black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
//Left side
.ttrpg-about  {
  margin: 5rem 0 0 0;
  padding: 0 2rem 0 2rem;
  h2  {
    margin-bottom: 3rem;
    font-family: IM Fell English SC, serif;
    font-size: 2rem;
    font-weight: 500;
  }
  p  {
    font-size: 1rem;
  }
}
//Right side
.ttrpg-links  {
  margin: 4rem 0 0 0;
  h3  {
    margin: 0 0 1rem 0;
    font-family: IM Fell English SC, serif;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: underline;
  }
  ul  {
    list-style: none;
  }
}
.links-cont  {
  margin: 0 0 3rem 0;
  padding-bottom: 1.3rem;
}
//Game Buttons
.game-card  {
  margin: 0;
  padding: 0;
}
.js-card  {
  margin: 0 8.5rem 0 8.5rem;
  border: 0.15rem solid $black;
  border-radius: 0 0 2rem 2rem;
  h4  {
    margin: 1rem 0 1rem 0;
    font-family: IM Fell English SC, serif;
    font-size: 2.3rem;
  }
  p  {
    margin: 0.7rem 2rem 3rem 2rem;
    font-size: 0.9rem;
  }
}