@use '../custom' as *;

//Section
#game-master  {
  box-shadow: rgba(50, 50, 93, 0.115) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.gm-header  {
  padding-top: 6rem;
  padding-bottom: 4rem;
  font-family: IM Fell English SC, serif;
  font-size: 4rem;
  font-weight: 600;
}

// Left Side
.gm-chef  {
  margin-bottom: 2rem;
  font-family: IM Fell English SC, serif;
  font-size: 2.3rem;
  font-weight: 600;
}
.chef-pic  {
  height: 41rem;
  width: 30rem;
  border: 3px solid $gray-700;
  border-radius: 5rem;
}

//Right Side
.gm-lk1  {
  margin-top: -3rem;
  height: 12rem;
  width: 10rem;
}
.gm-lk2  {
  height: auto;
}
.gm-lk2  {
  height: auto;
}