@use '../custom' as *;
@use '../all-pages/mixins' as *;

.ct-custom  {
  @include intro-gradient;
}
.display-2  {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-right: 0.3rem solid $white;
  border-radius: 0.2rem;
  text-transform: capitalize;
  &--intro  {
    display: inline-block;
    margin: 3rem 0 2rem 0;
    font-family: IM Fell English SC, serif;
    font-size: 4rem;
    font-weight: 700;
    color: $secondary;
  }
  &--description  {
    display: block;
    margin: 0.5rem 8rem 0.5rem 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: Felipa, serif;
    line-height: 2rem;
    color: $white;
  }
}
.dice-img  {
  height: 10rem;
  width: 20rem;
  margin-left: 4rem;
  opacity: 0.7;
  border-radius: 0 0 10rem 8rem;
}
.feature-camp  {
  margin: 5rem 0 0 4rem;
  color: $secondary;
  font-family: IM Fell English SC, serif;
  font-size: 4rem;
  font-weight: 700;
  text-decoration: underline;
}
.feature-title  {
  font-family: IM Fell English SC, serif;
  font-size: 2.3rem;
  font-weight: 700;
}
.feature-text  {
  font-family: Felipa, serif;
  font-weight: 800;
  font-size: 1.2rem;
}
.feature-btn  {
  color: $secondary;
  font-family: IM Fell English SC, serif;
  font-weight: 600;
  font-size: 1.25rem;
}
.hof-img  {
  border-radius: 0.3rem;
  border: 2px solid $black;
  height: 16rem;
  width: 18rem;
}
.list-feat  {
  list-style: none;
  font-family: serif;
  font-size: 1rem;
  line-height: 1.7rem;
}